@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap");

* {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* ==== color ===== */

    --body-color: #fff;
    --sidebar-color: #fff;
    --primary-color: #4c5caf;
    --primary-color-light: #5769c2;
    --togle-color: #4c5caf;
    --text-color: #4c5caf;

    /* ==== Transition ===== */

    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;

    /* ===== table default ===== */
    --tableWidth: 420px;
    --headerFontSize: 12px;
    --headerFontColor: #ffffff;
    --headerFontWeight: 700; /* Updated font weight to make it bold */
    --headerFontBGColor: #4c5caf;
    --headerTextAlign: center;
    --bodyTextAlign: left;
    --headerBorderColor: hsl(0 0% 100%);
    --headerBCVar: 0px;
    --bodyFontSize: 14px; /* Provide a default font size */
    --evenRowsColor: hsl(0 0% 100%);
    --oddRowsColor: hsl(0 0% 100%);
    --evenRowsBGColor: #0000001a;
    --oddRowsBGColor: #323232;
    --cellPaddingHVar: 15px; /* Adjusted horizontal padding */
    --cellPaddingVVar: 15px;
    --rowsBorderColor: hsl(0 0% 100%);
    --rowsBorderWidth: 2px;
    --text-color: hsl(0 0% 100%);
}

table {
    border-collapse: collapse;
    margin: 25px 0;
    width: 100%;
    background: #323232;
    width: var(--tableWidth);
}

td {
    font-size: var(--bodyFontSize);
}

tbody tr {
    border-bottom: 1px solid #dddddd;
    min-height: 100px;
    text-align: var(--bodyTextAlign);
    border: none;
}

th,
td,
caption {
    padding-left: var(--cellPaddingHVar);
    padding-right: var(--cellPaddingHVar);
    padding-top: var(--cellPaddingVVar);
    padding-bottom: var(--cellPaddingVVar);
}

caption {
    text-align: left;
    background-color: hsl(0, 0%, 100%);
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #000000cc;
    font-family: system-ui;
}

tbody tr:nth-child(even) {
    color: var(--evenRowsColor);
    background-color: var(--evenRowsBGColor);
}

tbody tr:nth-child(odd) {
    color: var(--oddRowsColor);
    background-color: var(--oddRowsBGColor);
}

thead {
    text-align: var(--headerTextAlign);
    text-transform: uppercase;
    font-size: var(--headerFontSize);
    font-weight: var(--headerFontWeight);
    letter-spacing: 0.002em;
    color: var(--headerFontColor) !important;
    background-color: var(--headerFontBGColor);
    border: var(--headerBCVar) solid var(--headerBorderColor);
    font-family: system-ui;
}

table tr {
    border: var(--rowsBorderColor) var(--rowsBorderWidth);
}

@media (max-width: 650px) {
    table {
        max-width: 80%;
    }

    th {
        display: none;
    }

    td {
        display: block;
    }
}

body {
    height: 100vh;
    background: rgb(240, 244, 247);
}

a {
    text-decoration: none;
    color: unset;
}
ul {
    list-style: none;
}

.primary__btn {
    background: var(--primary-color) !important;
    border: none !important;
    border-radius: 10px !important;
    color: #fff;
    padding: 0.4rem 1.5rem !important;
}

.primary__btn a {
    font-size: 1.1rem;
    text-decoration: none;
    color: #fff;
}
.primary__btn a:hover {
    color: inherit;
}
.secondary__btn {
    background: transparent !important;
    color: #0b2727 !important;
    border: none !important;
    font-weight: 500 !important;
}

.secondary__btn a {
    text-decoration: none;
    font-size: 1.1rem;
    color: var(--primary-color-light);
}

.secondary__btn a:hover {
    color: inherit;
}

/* ======= card body ========= */

.card {
    background: #fff;
    border-radius: 1rem;
    width: auto;
    box-shadow: -4px 9px 14px -3px rgba(0, 0, 0, 0.1);
    margin: auto;
}

.card-body {
    padding: 2rem;
}

.head-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
    border-bottom: 1px solid #bcbcbc;
}

.btn {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #fff;
    background-color: #4c5caf;
    padding: 10px 30px;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    border-radius: 10px;
    transition: 1000ms;
    transform: translateY(0);
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.btn-pdf {
    background-color: #cd2323;
}
.btn-word {
    background-color: #2356cd;
}
.btn-excel {
    background-color: #42cd23;
}

.btn-hapus {
    background-color: #cd2323;
}
.btn:hover {
    transition: 1000ms;
    padding: 10px 50px;
    transform: translateY(-0px);
    background-color: #fff;
    color: #0066cc;
    border: solid 2px #0066cc;
}

.convert {
    margin-top: 1rem;
    display: flex;
    gap: 5px;
}

.convert__input {
    margin-top: 1rem;
    display: flex;
}

.input__group {
    display: flex;
    align-items: center; /* Menengahkan vertikalnya */
    margin-bottom: 15px;
}

.input__group h5 {
    margin-right: 1rem;
}

/* ======= tabel start ======== */
.tabel-center {
    display: flex;
    justify-content: center;
}
/* ======= tabel end ======== */

/* ======= pagination start ======= */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.pagination > a,
.pagination > span {
    background-color: #fff;
    color: #06c;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    margin: 0 -1px 5px;
    min-width: 20px;
    padding: 0 10px;
    height: 40px;
    text-decoration: none;
    border: solid 1px #ddd;
    position: relative;
    font-family: Helvetica, Arial, sans-serif;
}
.pagination > span {
    pointer-events: none;
}
.pagination svg {
    height: 24px;
    width: 24px;
}
.pagination > a:hover {
    background-color: #f7f7f7;
}
.pagination > a.page-active {
    background-color: #07639d;
    color: #fff;
    border: solid 1px #07639d;
}
.pagination > a:first-child {
    border-radius: 5px 0 0 5px;
}
.pagination > a:last-child {
    border-radius: 0 5px 5px 0;
}
/* ======= pagination end ========= */

/* ====== search feature ====== */
.sbx-custom {
    display: inline-block;
    position: relative;
    width: 300px;
    height: 51px;
    white-space: nowrap;
    box-sizing: border-box;
    font-size: 14px;
}

.sbx-custom__wrapper {
    width: 100%;
    height: 100%;
}

.sbx-custom__input {
    display: inline-block;
    -webkit-transition: box-shadow 0.4s ease, background 0.4s ease;
    transition: box-shadow 0.4s ease, background 0.4s ease;
    border: 0;
    border-radius: 26px;
    box-shadow: inset 0 0 0 2px #cccccc;
    background: #ffffff;
    padding: 0;
    padding-right: 41px;
    padding-left: 51px;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    white-space: normal;
    font-size: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.sbx-custom__input::-webkit-search-decoration,
.sbx-custom__input::-webkit-search-cancel-button,
.sbx-custom__input::-webkit-search-results-button,
.sbx-custom__input::-webkit-search-results-decoration {
    display: none;
}

.sbx-custom__input:hover {
    box-shadow: inset 0 0 0 2px #b3b3b3;
}

.sbx-custom__input:focus,
.sbx-custom__input:active {
    outline: 0;
    box-shadow: inset 0 0 0 2px #565dde;
    background: #ffffff;
}

.sbx-custom__input::-webkit-input-placeholder {
    color: #bbbbbb;
}

.sbx-custom__input::-moz-placeholder {
    color: #bbbbbb;
}

.sbx-custom__input:-ms-input-placeholder {
    color: #bbbbbb;
}

.sbx-custom__input::placeholder {
    color: #bbbbbb;
}

.sbx-custom__submit {
    position: absolute;
    top: 0;
    right: inherit;
    left: 0;
    margin: 0;
    border: 0;
    border-radius: 25px 0 0 25px;
    background-color: rgba(255, 255, 255, 0);
    padding: 0;
    width: 51px;
    height: 100%;
    vertical-align: middle;
    text-align: center;
    font-size: inherit;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.sbx-custom__submit::before {
    display: inline-block;
    margin-right: -4px;
    height: 100%;
    vertical-align: middle;
    content: "";
}

.sbx-custom__submit:hover,
.sbx-custom__submit:active {
    cursor: pointer;
}

.sbx-custom__submit:focus {
    outline: 0;
}

.sbx-custom__submit svg {
    width: 21px;
    height: 21px;
    vertical-align: middle;
    fill: #878787;
}

.sbx-custom__reset {
    display: none;
    position: absolute;
    top: 12px;
    right: 12px;
    margin: 0;
    border: 0;
    background: none;
    cursor: pointer;
    padding: 0;
    font-size: inherit;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    fill: rgba(0, 0, 0, 0.5);
}

.sbx-custom__reset:focus {
    outline: 0;
}

.sbx-custom__reset svg {
    display: block;
    margin: 4px;
    width: 19px;
    height: 19px;
}

.sbx-custom__input:valid ~ .sbx-custom__reset {
    display: block;
    -webkit-animation-name: sbx-reset-in;
    animation-name: sbx-reset-in;
    -webkit-animation-duration: 0.15s;
    animation-duration: 0.15s;
}

@-webkit-keyframes sbx-reset-in {
    0% {
        -webkit-transform: translate3d(-20%, 0, 0);
        transform: translate3d(-20%, 0, 0);
        opacity: 0;
    }
    100% {
        -webkit-transform: none;
        transform: none;
        opacity: 1;
    }
}

@keyframes sbx-reset-in {
    0% {
        -webkit-transform: translate3d(-20%, 0, 0);
        transform: translate3d(-20%, 0, 0);
        opacity: 0;
    }
    100% {
        -webkit-transform: none;
        transform: none;
        opacity: 1;
    }
}
/* ====== search feature end ====== */
/* ====== input logbook magang start ====== */
.input__data {
    outline: none;
    border: none;
    background: #e9e9e9;
    padding-right: 4rem;
    padding-left: 1rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    border-radius: 5px;
    margin: 12px;
}
